[Unit]
Description=Gunicorn server for superlists-staging.maxwellanderson.com.br

[Service]
Restart=on-failure
User=max
WorkingDirectory=/home/max/maxwellanderson.com.br/sites/superlists-staging.maxwellanderson.com.br/source
ExecStart=/home/max/maxwellanderson.com.br/sites/superlists-staging.maxwellanderson.com.br/virtualenv/bin/gunicorn --bind unix:/tmp/superlists-staging.maxwellanderson.com.br.socket superlists.wsgi:application

[Install]
WantedBy=multi-user.target